<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lemonapps.localmusicscene">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".Register"
            android:screenOrientation="portrait"
            android:theme="@style/loginTheme" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/loginTheme" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/loginTheme" />
        <activity android:name=".ManageBand"></activity>
    </application>

</manifest>